:root {
    --main-bg-color: rgb(248, 248, 248);
    --font-color: rgb(30,30,30);
}


* {
    font-family: 'Roboto', sans-serif;
}

html,body {
    height:100%;
    margin: 0;
    overflow: hidden;
}

#landing-nav{
    position: absolute;
    padding:10px;
}

#landing-nav > a {
    text-decoration: none;
    color: var(--font-color);
}

.section {
    height: 100%;
    background-color: var(--main-bg-color); /* light mode be like */
    color: var(--font-color); 
    /* var (--font-color) */
}

#background-image {
    background-image: url("/media/background.jpg");
    height: 100%;
    width:100%;
    background-size: contain;
}

